form {
    margin-left: 24%;
    margin-top: 5%;
    padding: 4%;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 20px;
}
/* div,
form,
label,
input { 
    background-color: #ffffff;
} */
